
@media (min-width : 300px) and (max-width : 600px){
    * {
        margin: 0;
        padding: 0;
    }
    .btn-left {
        display: block;
        width: 100%;
        position: absolute;
        left: 20px;
        font-size: 15px;
        text-decoration: none;
        color: white;
     }
    .container-fluid {
        height:  100%!important;
        background-color: #0E0548 !important;
        margin-top: -35px;
        padding-top: 15px;
    }
    .navbar-brand {
        font-size: 30px !important;
        font-family: "dancing script",sans-serif;
        color: aliceblue !important;
        pointer-events: none !important;
    }
    /*makanan*/
    .judul-makanan {
        display: flex;
        align-items: center;
        height: 74px;
        margin-left: -30px;
        background-color: rgb(236, 84, 29);
    }
    .menu-zoom {
       background-color: #474747;
    }
    .menu-zoom2 {
      background-color: #474747;
    }
    .container-makanan {
        width: 25vh !important;
        border-radius: 25px;
        font-size: 20px;
        font-weight: bold;
    }
    .container-makanan p {
        font-size: 16px !important;
    }
    .container-menu-btn {
        display:flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        justify-content: center;
        height: max-content;
        padding: 50px 20px 50px 20px;
        gap: 1rem !important;
    }
    .buton1 {
        text-decoration: none;
    }
    .buton2 {
        text-decoration: none;
    }
    .buton3 {
        text-decoration: none;
    }
    .buton4 {
        text-decoration: none;
    }
    .btn1{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        width: 220px;
        height:200px;
        background-image: url(img/pepes\ ikan.jpg);
        background-size:cover;
        border: none;
        border-radius: 2rem !important;
    }
    .btn1:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
    .btn1:hover .deskripsi{
        opacity: 100%;
    }
    .btn1:hover .nama-menu{
        margin-top: 0;
        transition: 0.5s;
        box-shadow: none;
    }
    .btn2{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 220px;
        background-image: url(img/kepitingsauspadang-fotor-2024010812754.jpg);
        background-size: cover;
        border: none;
        border-radius: 2rem !important;
    }
    .btn2:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
    .btn2:hover .deskripsi1{
        opacity: 100%;
    }
    .btn2:hover .nama-menu{
        margin-top: 0;
        transition: 0.5s;
        box-shadow: none;
    }
    .btn3{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 220px;
        background-image: url(img/rendang.jpg);
        background-size: cover;
        background-position-y: -90px;
        border: none;
        border-radius: 2rem !important;
    }
    .btn3:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
    .btn3:hover .deskripsi{
        opacity: 100%;
    }
    .btn3:hover .nama-menu{
        margin-top: 0;
        transition: 0.5s;
        box-shadow: none;
    }
    .btn4{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 220px;
        background-image: url(img/sate.jpg);
        background-size: cover;
        border: none;
        border-radius: 2rem !important;
    }
    .btn4:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
    .btn4:hover .deskripsi1{
        opacity: 100%;
    }
    .btn4:hover .nama-menu{
        margin-top: 0;
        transition: 0.5s;
        box-shadow: none;
    }
    .desk {
        display: grid;
        width: 100%;
        height: max-content;
        position: relative;
        justify-content: center;
        font-family: "englebert",sans-serif;
        overflow: hidden;
    }
    .deskripsi {
        position: relative;
        z-index: 3;
        pointer-events: none;
        opacity: 100%;
        font-size: 15px;
    }
    .deskripsi1 {
        position: relative;
        z-index: 3;
        pointer-events: none;
        opacity: 0;
        font-size: 15px;
    }
    .nama-menu {
        text-align: center;
        position: relative;
        z-index: 3;
        pointer-events: none;
        margin-top: 9rem;
        font-weight: bold;
        font-size: 20px;
        box-shadow: 2px 3px 3px;
        
    }
    .con-img1 {
        height: 200px !important;
        width: 220px !important ;
        background-color: black;
        position: absolute;
        border-radius: 5px;
        opacity: 0;
        margin-top: -8px;
        z-index: 2;
        border-radius: 2rem !important;
    }
    .con-img1:hover{
        opacity: 60%;
        transition: 0.3s;
    }
    .con-img3 {
        height: 200px !important;
        width: 220px !important;
        background-color: black;
        position: absolute;
        border-radius: 5px;
        opacity: 0;
        margin-top: -8px;
        z-index: 2;
        border-radius: 2rem !important;
    
    }
    .con-img3:hover {
        opacity: 60%;
        transition: 0.3s;
    }
    .con-img4 {
        height: 200px !important;
        width: 223px !important;
        background-color: black;
        position: absolute;
        border-radius: 5px;
        opacity: 0;
        margin-top: -8px;
        z-index: 2;
        border-radius: 2rem !important;
    
    }.con-img4:hover {
        opacity: 60%;
        transition: 0.3s;
    }
    .con-img2 {
        height: 200px !important;
        width: 220px !important;
        background-color: black;
        position: absolute;
        border-radius: 5px;
        opacity: 0;
        margin-top: -8px;
        z-index: 2;
        border-radius: 2rem !important;
    } 
    .con-img2:hover {
        opacity: 60%;
        transition: 0.3s;
    }
    /*menu minuman*/
    .pembatas-minuman {
        height: 75px;
        width: 10;
        background-color: rgb(236, 84, 29);
        display: flex;
        align-items: center;
        font-size: 15px !important;
        font-weight: bold;
    }
    .container-minuman {
        background-color: beige;
        width: 30vh !important;
        display: flex;
        padding: 12px 0 0 60px;
        border-radius: 25px;
        margin-left: -30px;
    }
    .menu-zoom {
        background-color: gray;
    }
    .container-makanan {
        background-color: beige;
        width: 30vh !important;
        display: flex;
        padding: 12px 0 0 60px;
        border-radius: 25px;
    }
    .container-menu-btn {
        display: flex;
        width:100%;
        justify-content: center;
        height: max-content;
        padding: 50px 20px 50px 20px;
        gap: 1rem !important;
    }
    .buton1 {
        text-decoration: none;
    }
    .buton2 {
        text-decoration: none;
    }
    .buton3 {
        text-decoration: none;
    }
    .buton4 {
        text-decoration: none;
    }
    .btn5{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        width: 220px;
        height:200px;
        background-image: url(img/white\ moccha\ .jpg);
        background-size: cover;
        border: none;
        border-radius: 2rem !important;
    }
    .btn5:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
    .btn5:hover .deskripsi2{
        opacity: 100%;
    }
    .btn5:hover .nama-minum{
        margin-top: 0;
        transition: 0.5s;
        box-shadow: none;
    }
    .btn6{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 220px;
        background-image: url(img/milkshake.jpg);
        background-size: cover;
        background-position-y: -40px;
        border: none;
        border-radius: 2rem !important;
    }
    .btn6:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
    .btn6:hover .deskripsi3{
        opacity: 100%;
    }
    .btn6:hover .nama-minum{
        margin-top: 0;
        transition: 0.5s;
        box-shadow: none;
    }
    .btn7{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 220px;
        background-image: url(img/macchiato.jpg);
        background-size: cover;
        background-position-y: -30px;
        border: none;
        border-radius: 2rem !important;
    }
    .btn7:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
    .btn7:hover .deskripsi2{
        opacity: 100%;
    }
    .btn7:hover .nama-minum{
        margin-top: 0;
        transition: 0.5s;
        box-shadow: none;
    }
    .btn8{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 220px;
        background-image: url(img/smoothie.jpg);
        background-size: cover;
        background-position-y: -90px;
        border: none;
        border-radius: 2rem !important;
    }
    .btn8:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
    .btn8:hover .deskripsi3{
        opacity: 100%;
    }
    .btn8:hover .nama-minum{
        margin-top: 0;
        transition: 0.5s;
        box-shadow: none;
    }
    .desk {
        display: grid;
        padding: 40px 10px 10px 10px;
        width: 100%;
        height: max-content;
        position: relative;
        font-family: "englebert",sans-serif;
        overflow: hidden;
    }
    .deskripsi2{
        position: relative;
        z-index: 3;
        pointer-events: none;
        opacity: 0;
        font-size: 15px;
    }
    .deskripsi3{
        position: relative;
        z-index: 3;
        pointer-events: none;
        opacity: 0;
        font-size: 15px;
    }
    .nama-minum {
        text-align: center;
        position: relative;
        z-index: 3;
        font-size: 20px;
        pointer-events: none;
        margin-top: 9rem;
        font-weight: bold;
        box-shadow: 2px 2px 3px;
        
    }
    .con-img1 {
        height: 400px;
        width: 120px;
        background-color: black;
        position: absolute;
        border-radius: 5px;
        opacity: 0;
        margin-top: -8px;
        z-index: 2;
        border-radius: 2rem !important;
    }
    .con-img1:hover{
        opacity: 60%;
        transition: 0.3s;
    }
    .con-img3 {
        height: 400px;
        width: 120px;
        background-color: black;
        position: absolute;
        border-radius: 5px;
        opacity: 0;
        margin-top: -8px;
        z-index: 2;
        border-radius: 2rem !important;
    
    }
    .con-img3:hover {
        opacity: 60%;
        transition: 0.3s;
    }
    .con-img4 {
        height: 400px;
        width: 123px;
        background-color: black;
        position: absolute;
        border-radius: 5px;
        opacity: 0;
        margin-top: -8px;
        z-index: 2;
        border-radius: 2rem !important;
    
    }.con-img4:hover {
        opacity: 60%;
        transition: 0.3s;
    }
    .con-img2 {
        height: 400px;
        width: 120px;
        background-color: black;
        position: absolute;
        border-radius: 5px;
        opacity: 0;
        margin-top: -8px;
        z-index: 2;
        border-radius: 2rem !important;
    } 
    .con-img2:hover {
        opacity: 60%;
        transition: 0.3s;
    }
    .pesan-rating {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 4rem;
      font-size: 20px !important;
      color: white;
      font-family: "englebert",sans-serif;
      font-weight: bold;
    }
    /*pembatas raitng*/
    .pembatas-rating {
        height: 75px;
        width: 10;
        background-color:rgb(236, 84, 29);
        display: flex;
        align-items: center;
        font-size: 16px !important;
        font-weight: bold;
        pointer-events: none;
    }
    .container-rating2 {
        background-color: beige;
        width: 30vh !important;
        display: flex;
        padding: 12px 0 0 60px;
        border-radius: 25px;
        margin-left: -30px;
    }
    .con-rate {
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        justify-content: center;
        align-items: center;
        background-color:rgb(236, 84, 29);
        padding: 5px 30px !important;
    }
    .container-rating {
        height: 70vh !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(img/bg2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bungkus-rate  input{
        display: none;
    } 
    #con-komentar {
        display: none!important;
    }
    .bungkus-rate label{
        font-size: 15px !important;
        transition: all 0.2s ease;
        float: right;
        padding: 5px;
    }
    input:not(:checked) ~ label:hover,
    input:not(:checked) ~ label:hover ~ label{
        color: gold;
    }
    input:checked ~ label {
        color: gold;
    }
    input:checked ~ #con-komentar {
        display: block !important;
    }
    input#rate5:checked ~ label {
        color: gold;
        text-shadow: 0 0 20px rgb(154, 245, 9);
    } 
    #rate1:checked ~ #con-komentar .false:before {
        content: "Saya Tidak Suka";
        color: aliceblue;
        font-size: 10px !important;
        font-weight: bold !important;
    }
    #rate2:checked ~ #con-komentar .false:before {
        content: "Lumayan suka";
        color: aliceblue;
        font-size: 10px !important;
        font-weight: bold !important;
    }
    #rate3:checked ~ #con-komentar .false:before {
        content: "Saya Suka";
        color: aliceblue;
        font-size: 10px !important;
        font-weight: bold !important;
    }
    #rate4:checked ~ #con-komentar .false:before {
        content: "Rekomen";
        color: aliceblue;
        font-size: 10px !important;
        font-weight: bold !important;
    }
    #rate5:checked ~ #con-komentar .false:before {
        content: "Sempurna";
        color: aliceblue;
        font-size: 15px !important;
        font-weight: bold !important;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        display: none;
        justify-content: center;
    }
    form .textarea {
        height: 90px !important;
        width: 8rem !important;
        padding: 10px;
        resize: none;
        outline: none;
        background-color: gray;
        color: white;
    }
    form .textarea::placeholder {
        color:white;
        font-style: italic;
        opacity: 50%;
        font-size: 10px !important;
    }
    .con-text {
        width: 100%;
        align-items: center;
    }
    .btn-submit {
        width: 8rem !important;
        height: 20px !important;
        padding:4px 8px;
        background-color: #6d6d6d;
        border: none;
        color: aliceblue;
        font-weight: bold;
        font-size: 11px !important;
    }.btn {
        width: 100%;
        justify-content: center;
    }
    
    /*footer*/
    .navbar-light{
        height: 100px !important;
    }
    .containerfluid {
        display: flex !important;
        width: 100%;
        align-items: center;
        height: 100%;
        text-align: center !important;
        justify-content: center;
        background-color: black;
    }
    .containerfluid a{
        color: aliceblue !important;
    }
    .navbar-brand2{
        width: 500px !important;
        text-decoration: none;
        font-size: 35px !important;
        font-family: "dancing script",sans-serif;
    }
}